<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzzlew.zzzimserver.mapper.ApplyMapper">

    <insert id="sendApply" useGeneratedKeys="true" keyProperty="applyId">
        insert into friend_apply (from_user_id, to_user_id, apply_msg)
        values (#{fromUserId}, #{toUserId}, #{applyMsg})
    </insert>

    <select id="getApplyList" resultType="com.zzzlew.zzzimserver.pojo.vo.apply.ApplyVO">
        select f.apply_id,
               f.from_user_id,
               u.avatar,
               u.username,
               f.apply_msg,
               f.is_dealt,
               f.deal_result
        from user_info u
                 join friend_apply f on u.id = f.from_user_id
        where f.to_user_id = #{userId}
    </select>

    <update id="dealApply">
        update friend_apply
        set is_dealt    = 1,
            deal_result = #{dealResult},
            deal_time   = #{dealTime}
        where apply_id = #{applyId}
    </update>

</mapper>