<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzzlew.zzzimserver.mapper.FriendMapper">
    <select id="selectFriendList"
            resultType="com.zzzlew.zzzimserver.pojo.vo.friend.FriendRelationVO">
        select u.id, u.username, u.avatar, f.remark, f.relation_status as relationStatus
        from friend_relation f
                 join user_info u on
            u.id = f.friend_id
        where f.user_id = #{userId}
    </select>

    <insert id="addFriendToRelation">
        insert into friend_relation (user_id, friend_id)
        values (#{toUserId}, #{fromUserId})
    </insert>

</mapper>